/* Write your CSS here */
.bg_container {
  min-height: 100vh;
  background-color: #ffc2a0;
  padding: 30px;
}
.card_container {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 20px;
}
.heading {
  text-align: center;
  color: #ff8542;
}
.TodosContainer {
  padding: 20px;
}